#logo {
	position: fixed !important;
	z-index: 1;
	top: 0;
	left: 0;
	/* TODO width + height */
}

#blur {
	background: url(../img/starfruit.jpg);
	height: 500px;
}

header {
	width: 1000px;
	height: 100px;
	margin: 0 auto;
	position: relative;
}

header nav {
	position: absolute;
	top: 40px;
	right: 0;
}

header nav ul {
	list-style-type: none;
}

header nav ul li {
	display: inline;
	margin-left: 50px;
}
